.page-real-weddings {
  .svg-icon-quote-open, .svg-icon-quote-close {
    svg {
      width: 40px;
      height: 30px;
    }
  }
  .svg-icon-quote-open {
    margin-left: $spacer-x;
  }
  .svg-icon-quote-close {
    float: right;
    margin: -6rem $spacer-x 0 0;
  }
}

.img-container {
  height: 250px;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-bottom: $grid-gutter-width / 4;

  &.high {
    height: 550px;
  }
  &.v-high {
    height: 628px;
  }
}
.wedding-card {
  border: none;
  border-bottom: 1px solid $brand-gray-light;

  &:hover {
    text-decoration: none;

    .card-text {
      color: $brand-accent;
    }
  }
  .img-container {
    margin-bottom: 0;
  }
  .card-block {
    font-family: $headings-font-family;
    padding: 0.5rem 1.25rem;
  }
  .card-text {
    color: $brand-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
