.page-messages {
  .svg-icon-heart {
    display: inline-block;

    svg {
      width: 24px;
      height: 24px;
    }
  }
  .strip-message {
    h1 {
      font-size: $font-size-root;
      font-family: $font-family-sans-serif;
      margin-bottom: 0.25rem;
    }
  }
}
