include ../icon
include ../header

doctype html
html(lang='en')
  head
    include ../head
    title=content.pageTitle
  body.page-about
    +header('about')
    include ../footer
    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
