mixin awardsImage (src, url)
  a(href=url target='_blank')
    img.img-fluid(src=src style="max-height: 9rem")

aside#strip-awards.strip
  .container
    .row
      .col-xs-12.col-sm-3
        +awardsImage(facts.awards[0].src, facts.awards[0].url)
      .col-xs-4.col-sm-2
        +awardsImage(facts.awards[1].src, facts.awards[1].url)
      .col-xs-4.col-sm-2
        +awardsImage(facts.awards[2].src, facts.awards[2].url)
      .col-xs-4.col-sm-2
        +awardsImage(facts.awards[3].src, facts.awards[4].url)
      .col-xs-12.col-sm-3
        +awardsImage(facts.awards[4].src, facts.awards[4].url)
