footer#footer
  .container
    p
      | &copy; Thebrandnewstudioltd 2012-#{new Date().getFullYear()}
      | | 
      a(href='#{meta.relativePathToRoot}/terms') Terms &amp; Conditions
    p
      | Br&amp;newweddings is a specialised branch of TheBr&amp;newstudio LTD
      br
      | Registered Company 08531755
