footer#footer
  .container
    p.text-uppercase
      a.text-accent(href='#{meta.relativePathToRoot}/terms') Terms &amp; Conditions
      br
      | &copy; Thebrandnewstudioltd 2012-#{new Date().getFullYear()}
      br
      | Registered Address: 8 Severn Road, Chilton, Didcot, Oxon, OX11 0PW
