meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(http-equiv='x-ua-compatible' content='ie=edge')
link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,700')
link(rel='stylesheet' href='#{meta.relativePathToRoot}/bundle.css')
