mixin icon (name, cls)
  div(class='svg-icon svg-icon-' + name + (cls ? ' ' + cls : ''))
    +svg(name)

mixin svg (name)
  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="##{name}"></use></svg>
