/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
@import 'variables';
@import 'bootstrap/scss/bootstrap';

body {
  letter-spacing: 1px;
}
body > svg {
  height: 0;
}
h1 {
  color: $brand-primary;
  letter-spacing: 2px;
}
h2 {
  letter-spacing: 2px;
}

#header {
  margin-bottom: $spacer-y;

  .logo {
    margin: ($spacer-y * 3) $spacer-x;

    img {
      margin: 0 auto;
      width: 585px;
    }
  }
  .navbar {
    margin: 0 $spacer-x;
    padding: ($spacer-y * 0.5) 0;
    border-top: 1px solid $brand-gray-light;
    border-bottom: 1px solid $brand-gray-light;
  }
  .navbar-light .navbar-nav .active > .nav-link {
    color: $brand-accent;
  }
  .nav-item {
    margin: 0;
    width: 50%;

    a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: $brand-gray;

      &:hover {
        color: $brand-accent;
      }
    }
  }
}

@import 'social';
@import 'exhibit';
@import 'awards';
@import 'real-weddings/real-weddings';

#footer {
  text-align: center;
  padding: $spacer-y 0;
  color: $brand-gray-light;
}

.text-accent {
  color: $brand-accent;
}
.border-primary {
  border: 1px solid $brand-primary;
}
.lead {
  letter-spacing: 3px;
}
.strip {
  margin: $spacer-y $spacer-x;
  padding: $spacer-y 0 ($spacer-y * 2);
  border-bottom: 1px solid $brand-gray-light;
}
.row-mosaic {
  @include make-row($grid-gutter-width / 4);
  // For brevity not all columns included here - add if you need
  .col-xs-4, .col-xs-6, .col-xs-12, .col-sm-4, .col-sm-8, .col-md-6 {
    @include make-col($grid-gutter-width / 4);
  }
}
// Use with .table-bordered to get a table whose td's have borders only on the left & right
.table-bordered-left-right {
  td {
    border-top: 0;
    border-bottom: 0;
  }
  thead th {
    border-bottom-width: 1px;
  }
}

@include media-breakpoint-up(lg) {
  #header {
    .nav-item {
      width: 16.6%;
    }
  }
}

@import 'about/about';
