/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
$brand-primary: #7cc7c1 !default;
$brand-accent: #b980b4;
$brand-gray: #9d9d9c;
$brand-gray-light: #dadada;
$link-color: $brand-accent;
$body-color: $brand-gray;
$enable-rounded: false;
// Fonts
$font-size-root: 13px;
$font-family-sans-serif: Montserrat-Light, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-size-h1: 1.6rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.3rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1rem;
$lead-font-size: 1.5rem;
// Headings
$headings-font-family: Montserrat-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$headings-color: $brand-accent;
$headings-font-weight: 400;
$headings-margin-bottom: 1rem;
$display1-size: 2.4rem;
$display1-weight: 500;
// Tables
$table-border-color: $brand-accent;
$table-cell-padding: .75rem;
$table-sm-cell-padding: .5rem;
// Forms
$input-border-focus: $brand-accent;
$input-padding-x: 1.5rem;
$input-padding-y: 1rem;
// Buttons
$btn-primary-bg: $brand-accent;

@import 'bootstrap/scss/bootstrap';
@import 'fonts';

body {
  letter-spacing: 1px;
}
body > svg {
  height: 0;
}
h1 {
  color: $brand-primary;
  letter-spacing: 2px;
}
h2 {
  letter-spacing: 2px;
}

@import 'header';
@import 'social';
@import 'exhibit';
@import 'awards';
@import 'footer';

.btn {
  font-family: $headings-font-family;
  letter-spacing: 1px;
}
.table {
  font-size: 1.1em;
}
.text-accent {
  color: $brand-accent;
}
.border-primary {
  border: 1px solid $brand-primary;
}
.lead {
  letter-spacing: 3px;
}
.strip {
  margin: $spacer-y $spacer-x;
  padding: $spacer-y 0 ($spacer-y * 2);
  border-bottom: 1px solid $brand-gray-light;
}
.row-mosaic {
  @include make-row($grid-gutter-width / 4);
  // For brevity not all columns included here - add if you need
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-md-3, .col-md-6 {
    @include make-col($grid-gutter-width / 4);
  }
}
// Use with .table-bordered to get a table whose td's have borders only on the left & right
.table-bordered-left-right {
  td {
    border-top: 0;
    border-bottom: 0;
  }
  thead th {
    vertical-align: middle;
    border-bottom-width: 1px;
  }
}
.checkbox, .radio {
  margin-bottom: $spacer-y;
}

@include media-breakpoint-up(lg) {
  #header {
    .nav-item {
      width: 16.6%;
    }
  }
}

@import 'about/about';
@import 'inspiration/inspiration';
@import 'messages/messages';
