/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
$brand-primary: #F4E17B !default;
$brand-accent: #DAE0CC;
$brand-gray: #2E343F;
$brand-gray-light: #C6B877;
$enable-rounded: false;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-size-h1: 1.4rem;
$headings-font-weight: 400;
$display1-size: 2.4rem;
$display1-weight: 500;

@import 'bootstrap/scss/bootstrap';
