/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
$brand-primary: #7cc7c1 !default;
$brand-accent: #b980b4;
$brand-gray: #9d9d9c;
$brand-gray-light: #dadada;
$link-color: $brand-accent;
$body-color: $brand-gray;
$headings-color: $brand-primary;
$enable-rounded: false;
$font-size-root: 14px;
$font-family-sans-serif: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-size-h1: 1.6rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.3rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1rem;
$lead-font-size: 1.6rem;
$headings-font-weight: 400;
$headings-margin-bottom: 1rem;
$display1-size: 2.4rem;
$display1-weight: 500;

@import 'bootstrap/scss/bootstrap';

body {
  letter-spacing: 1px;
}
body > svg {
  height: 0;
}
h1 {
  letter-spacing: 2px;
}

#header {
  margin-bottom: $spacer-y;

  .logo {
    margin: ($spacer-y * 3) $spacer-x;

    img {
      margin: 0 auto;
      width: 585px;
    }
  }
  .navbar {
    margin: 0 $spacer-x;
    padding: ($spacer-y * 0.5) 0;
    border-top: 1px solid $brand-gray-light;
    border-bottom: 1px solid $brand-gray-light;
  }
  .navbar-light .navbar-nav .active > .nav-link {
    color: $brand-accent;
  }
  .nav-item {
    margin: 0;
    width: 50%;

    a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: $brand-gray;

      &:hover {
        color: $brand-accent;
      }
    }
  }
}

@import 'social';
@import 'exhibit';
@import 'awards';

#footer {
  text-align: center;
  padding: $spacer-y 0;
  color: $brand-gray-light;
}

.text-accent {
  color: $brand-accent;
}
.lead {
  letter-spacing: 3px;
}
.strip {
  margin: $spacer-y $spacer-x;
  padding: $spacer-y 0 ($spacer-y * 2);
  border-bottom: 1px solid $brand-gray-light;
}
.row-mosaic {
  @include make-row($grid-gutter-width / 4);
  // For brevity not all columns included here - add if you need
  .col-xs-4, .col-xs-6, .col-md-6 {
    @include make-col($grid-gutter-width / 4);
  }
}

@include media-breakpoint-up(lg) {
  #header {
    .nav-item {
      width: 16.6%;
    }
  }
}

@import 'about/about';
