/*
 * main.scss - pull it all together
 * The build process adds custom sass vars from facts.json first.
 * Then we add our boostrap variable overrides.
 * Then we add all the wonders of bootstrap.
 * Then we import any page specific styles and add global tweaks as required.
 */

// override boostrap with our custom vars
// See `node_modules/bootstrap/scss/_variables.scss` for more options
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'fonts';

// Element

body {
  letter-spacing: 1px;
}
body > svg {
  height: 0;
}
h1 {
  color: $brand-primary;
  letter-spacing: 2px;
}
h2 {
  letter-spacing: 2px;
}

// Class

.btn {
  font-family: $headings-font-family;
  letter-spacing: 1px;
}
.table {
  font-size: 1.1em;
}
.text-accent {
  color: $brand-accent;
}
.text-gray {
  color: $brand-gray;
}
.border-primary {
  border: 1px solid $brand-primary;
}
.lead {
  letter-spacing: 3px;
}
.strip {
  margin: $spacer-y $spacer-x;
  padding: ($spacer-y * 3) 0;
  border-bottom: 1px solid $brand-gray-light;

  &:first-child {
    padding-top: $spacer-y;
  }
}
.row-mosaic {
  @include make-row($grid-gutter-width / 4);
  // For brevity not all columns included here - add if you need
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-12, .col-sm-4, .col-sm-8, .col-md-3, .col-md-6 {
    @include make-col($grid-gutter-width / 4);
  }
}
// Use with .table-bordered to get a table whose td's have borders only on the left & right
.table-bordered-left-right {
  td {
    border-top: 0;
    border-bottom: 0;
  }
  thead th {
    vertical-align: middle;
    border-bottom-width: 1px;
  }
}
.checkbox, .radio {
  margin-bottom: $spacer-y;
}

// Component

@import 'header';
@import 'social';
@import 'exhibit';
@import 'awards';
@import 'footer';

// Page

@import 'about/about';
@import 'contact/contact';
@import 'home/home';
@import 'inspiration/inspiration';
@import 'messages/messages';
@import 'real-weddings/real-weddings';
