include ./icon

aside#strip-social.strip
  .container.text-xs-center
    h1.text-uppercase Need some inspiration?
    p Follow us for frequent updates &amp; all things wedding!
    a(href='https://www.facebook.com/brandnewweddings' target='_blank')
      +icon('facebook')
    a(href='https://twitter.com/brandnewstudio' target='_blank')
      +icon('twitter')
    a(href='https://www.pinterest.com/brandnewstudio/' target='_blank')
      +icon('pinterest')
    a(href='https://www.instagram.com/brandnewweddings/' target='_blank')
      +icon('instagram')
