extends ../layout

block main
  main
    .strip
      .container.text-xs-center
        .row
          .col-lg-offset-1.col-lg-10
            h1.text-uppercase=content.introTitle
            !=md.render(content.introText)
        .row.p-t-1
          each moodboard in content.moodboards
            .col-xs-12.col-sm-6.col-md-4
              a(href='#{moodboard.link}' target="_Blank")
                img.img-fluid(src=uc(moodboard.thumbnail, '-/format/jpeg/-/scale_crop/714x500/center/-/quality/lighter/'))
                .text-uppercase.text-xs-center.text-gray
                  !=md.render(moodboard.title)
              hr
    .strip
      .container
        .row
          .col-lg-offset-1.col-lg-10.text-xs-center
            h1.text-uppercase - Instagram -
            script(src='//lightwidget.com/widgets/lightwidget.js')
            iframe(src='//lightwidget.com/widgets/ad572eb5ef935bab9eb84b4aefdd127e.html' id='lightwidget_ad572eb5ef' name='lightwidget_ad572eb5ef'  scrolling='no' allowtransparency='true' class='lightwidget-widget' style='width: 100%; border: 0; overflow: hidden;')
